* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0A0A23;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2, h3 {
    color: white;
}

.main-container {
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px;
}

.score-board {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.score-container {
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 5px;
}

.spacer {
    width: 20px;
}

.round-info {
    display: flex;
    justify-content: space-between;
    padding: 40px 80px;
}

.player-buttons {
    display: flex;
    justify-content: space-between;
}

.result-pane {
    display: flex;
    padding-top: 20px; 
}

#result {
    padding-left: 10px;
}

button {
    height: 100px;
    width: 100px;
}